<head>

	<!-- Meta: Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- End of Meta: Basic -->


	<!-- Meta: Mobile -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- End of Meta: Mobile -->

	<!-- Meta: Site -->
	<title>Spirit 8</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- End of Meta: Site -->

	<!-- Meta: Basic Images -->
	<meta property="og:image" content="assets/img/og-image.jpg">
	<link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png">
	<link rel="stylesheet" media="screen, 3d-glasses, print and resolution > 90dpi" href="...">
	<!-- End of Meta: Basic Images -->

	<!-- Styles -->
	<link rel="stylesheet" href="assets/css/main.min.css">
	<!-- End of Styles -->

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	<!-- Meta: Mobile Bar Color -->
	<meta name="theme-color" content="#FFFFFF">
	<meta name="msapplication-navbutton-color" content="#FFFFFF">
	<meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
	<!-- End of Meta: Mobile Bar Color -->

</head>

<!-- Section: Main -->
<main class="section main">

	<section class="section spirit">
		<div class="container">
			<div class="section-menu">

				<div class="logo">Spirit 8</div>

				<div class="navigation">

					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a> </li>
						<li><a href="#">Sevices</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Contact</a></li>
					</ul>

				</div>


			</div>

			<div class="section-title">
				<div class="name">
					welcome on <span>spirit8</span>
				</div>
			</div>

			<div class="section-context">
				<div class="text">
					We are a digital agency with <span>years of experience</span> and with <span> extraordinary people</span>
				</div>
			</div>

			<div class="section-swype">
				<div class="circle">
					<img src="https://i.imgur.com/ez86w3t.png" alt="">
				</div>
			</div>
		</div>



	</section>

	<section class="section apple">
		<div class="container">
			<div class="section-list">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="item">
							<img src="https://i.imgur.com/5qlJexC.png" alt="">
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="information">
							<div class="name">
								About us <span> Some words about us</span>
							</div>

							<div class="context">
								We love building and rebuilding brands through our <br> specific skills.Using colour, fonts, and illustration,
								we <br>
								brand companies in a way they will
								newer forget.
							</div>

						</div>

						<div class="list">
							<ul>
								<li><a href=""><span>Mission</span> - We deliver uniqueness and quality</a></li>
								<li><a href=""> <span>Skills</span> - Delivering fast and excellent results</a></li>
								<li><a href=""><span>Clients</span> - Satisfied clients thanks to our experience</a></li>
							</ul>
						</div>

						<div class="section-button">
							<div class="button">
								<a href="#">Browse our work</a>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section team">
		<div class="container">
			<div class="section-title">
				<div class="name">
					Meet our team
				</div>
			</div>

			<div class="section-snape">
				<div class="snape1"></div>
				<div class="snape2"></div>
			</div>

			<div class="row">
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="item">
						<img src="https://via.placeholder.com/150" alt="">
					</div>
					<div class=spec>Jason Statham <br><span>Knife designer</span> </div>
					<div class="text">Do not seek to change what has come <br> before. Seek to create that which has <br> not.</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="item">
						<img src="https://via.placeholder.com/150" alt="">
					</div>
					<div class="spec">Van Damme <br> <span>No English</span> </div>
					<div class="text">Do not seek to change what has come <br> before. Seek to create that which has <br> not.</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="item">
						<img src="https://via.placeholder.com/150" alt="">
					</div>
					<div class="spec">Sylvester Stallone <br> <span>Cigar Lover </span> </div>
					<div class="text">Do not seek to change what has come <br> before. Seek to create that which has <br> not.</div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="item">
						<img src="https://via.placeholder.com/150" alt="">
					</div>
					<div class="spec">Jet Li I <br> <span>Need more money</span> </div>
					<div class="text">Do not seek to change what has come <br> before. Seek to create that which has <br> not.</div>

				</div>
			</div>
			<div class="section-shnap2">

				<div class="snape1"></div>
				<div class="snape2"></div>
				<div class="snape2"></div>

			</div>
		</div>
	</section>

	<section class="section services">
		<div class="container">
			<div class="section-title">
				<div class="name">
					take a look at our services
				</div>
			</div>

			<div class="section-snape">
				<div class="snape1"></div>
				<div class="snape2"></div>
			</div>

			<div class="section-lorem">
				<div class="text">
					Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
					Evil) by Cicero, written in 45 BC. This book is a <br> treatise on the theory of ethics, very popular during the
					Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				</div>
			</div>

			<div class="row">

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="item">
						<img src="https://via.placeholder.com/150" alt="">
					</div>
					<div class=spec>Web design<br><br> <span>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from
							a
							line in section 1.10.32.</span> </div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="item">
						<img src="https://via.placeholder.com/150" alt="">
					</div>
					<div class="spec">Mobile apps <br> <br> <span>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes
							from
							a
							line in section 1.10.32.</span> </div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="item">
						<img src="https://via.placeholder.com/150" alt="">
					</div>
					<div class="spec">PHOTOGRAPHY <br> <br> <span>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
							comes from a line in section 1.10.32.</span> </div>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<div class="item">
						<img src="https://via.placeholder.com/150" alt="">
					</div>
					<div class="spec">marketing <br> <br> <span>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes
							from a
							line in section 1.10.32.</span> </div>
				</div>

			</div>

		</div>
	</section>

	<section class="section clients">
		<div class="container">

			<div class="section-title">
				<div class="text">SOME OF OUR CLIENTS</div>
			</div>

			<div class="section-snape">
				<div class="snape1"></div>
				<div class="snape2"></div>
			</div>

			<div class="section-label">


				<div class="item">
					<img src="https://i.imgur.com/IxDaN2o.png" alt="">
				</div>



				<div class="item">
					<img src="https://i.imgur.com/0tlYK0M.png" alt="">
				</div>



				<div class="item">
					<img src="https://i.imgur.com/99ghQNg.png" alt="">
				</div>



				<div class="item">
					<img src="https://i.imgur.com/TAwqxr0.png" alt="">
				</div>



				<div class="item">
					<img src="https://i.imgur.com/BDdPAip.png" alt="">
				</div>


			</div>

			<div class="section-shnap2">

				<div class="snape1"></div>
				<div class="snape2"></div>
				<div class="snape2"></div>

			</div>

		</div>
	</section>

	<section class="section works">
		<div class="container">
			<div class="section-title">
				<div class="name">take a look at our work</div>
			</div>


			<div class="section-snape">
				<div class="snape1"></div>
				<div class="snape2"></div>
			</div>

			<div class="section-lorem">
				<div class="text">
					Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
					Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
					Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				</div>
			</div>


			<div class="section-filter">
				<div class="row">

					<div class="col-12 col-sm-6 col-md-6 col-lg-3 d-lg-block ">
						<div class="item">

							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-6 col-lg-3 d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-6 col-lg-3 d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-6 col-lg-3 d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-12 d-none col-sm-3  d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 d-none col-sm-3  d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 d-none col-sm-3  d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 d-none col-sm-3  d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-12 d-none col-sm-3  d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 d-none col-sm-3  d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 d-none col-sm-3  d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

					<div class="col-12 d-none col-sm-3  d-lg-block">
						<div class="item">
							<img src="https://via.placeholder.com/230" alt="">
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>

	<section class="section testimonials">
		<div class="container">
			<div class="section-title">
				take a look at our work
			</div>


			<div class="section-snape">
				<div class="snape1"></div>
				<div class="snape2"></div>
			</div>

			<div class="section-lorem">
				<div class="text">
					This book is a treatise on the theory of ethics, very popular during the
					Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				</div>

				<div class="ceo">
					Dean Martin, CEO Acme Inc.
				</div>
			</div>

			<div class="section-shnap2">

				<div class="snape1"></div>
				<div class="snape2"></div>
				<div class="snape2"></div>

			</div>
		</div>
	</section>

	<section class="section contact">
		<div class="container">

			<div class="section-title">
				<div class="name">feel free to contact us</div>
			</div>

			<div class="section-snape">
				<div class="snape1"></div>
				<div class="snape2"></div>
			</div>

			<div class="section-lorem">
				<div class="text">
					Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
					Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
					Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
				</div>
			</div>

			<div class="section-wrapper">
				<div class="newsletter">

					<form method="" action="#">
						<input type="text" placeholder="Name ">
						<input type="text" placeholder="Email address ">
						<textarea name="text" placeholder="Message "></textarea>
						<button type="submit" title="Submit">SEND<i class="fa fa-angle-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</section>

</main>

<!-- End of Section: Main -->


<!-- Section: Footer -->

<footer class="section footer">
	<div class="container">
		<div class="section-social">ALL RIGHTS RESERVED. COPYRIGHT © 2014 SPIRIT8

			<div class="social">
				<a href="#"><img src="https://i.imgur.com/g7IWMhF.png" alt=""></a>
				<a href="#"><img src="https://i.imgur.com/OlhhRqI.png" alt=""></a>
				<a href="#"><img src="https://i.imgur.com/499bstU.png" alt=""></a>
				<a href="#"><img src="https://i.imgur.com/qYMagw4.png" alt=""></a>
				<a href="#"><img src="https://i.imgur.com/UFEaFJn.png" alt=""></a>
			</div>
		</div>
	
	</div>
</footer>

<!-- End of Section: Footer -->


//@@include('inc/footer.html')